/*  */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.brand{
    font-weight: 800 !important;
  
}
 i{
    color: rgb(241, 21, 57);
}
.nav-item{
    margin-right: 15px;
}
.last{
    margin-right: 50px;
}
.sticky-navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* a:hover{
   
    color:  rgb(242, 77, 105) !important;
} */
@media (max-width: 1300px) {
    .container-fluid.offset-1 {
      margin-left: 0 !important; 
    }
    .nav-item{
        margin-right: 0px !important;
    }
    .last{
        margin-right: 0px !important;
    }
   
      
  }
  
  @media (max-width: 1033px) {
    
    li{
        font-size: 14px;
    }
  }


